<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clonehackers</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/styles.css">
    <style>
        body {
            background-color: rgba(241, 241, 241, 0.89);
        }
    </style>

</head>
</head>

<body>
    <header style="margin-bottom:100px;">
        <nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top ">
            <div class="ml-5 navbarbrandcontainer">
                <h1 class="navbar-brand text-dark" style="font-weight: bolder;font-size:1.7em;"><img src="../../assets/photos/undraw_drone_surveillance_kjjg.svg" style="width:70px;">Clonehackers</h1>
            </div>
            <div>
                <ul class="navbar-nav " id="btncontainer" style="margin-left:700px;">
                    <li class="nav-item">
                        <button class="btn btn-sm pr-5 pl-5" style="background-color: #6C63FF;font-weight:bolder;color:white;border:2px solid #6C63FF;">TRY NOW</button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container" id="top">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="mainbox">
                    <h5 class="ml-3 mt-2">Device information</h5>
                    <p class="ml-3 mt-4 text-muted"><span class="mr-2"><i class="fa fa-android fa-2x" style="color: #6C63FF;"></i></span><span class="mr-2">
                        Device Model : 
                    </span><span>Samsung Galaxy S10</span></p>
                    <p class="ml-3 mt-4 text-muted"><span class="mr-2"><i class="fa fa-windows fa-2x" style="color: #6C63FF;"></i></span><span class="mr-2">
                        Device Os Model : 
                    </span><span>10.1</span></p>
                </div>
            </div>
        </div>
    </main>
    <section class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div id="boxx" class="pt-2 pl-3 pr-1">
                    <h5 class=" mb-4">Recent 5 Most Calling Numbers</h5>
                    <div>
                        <div class="dflex mb-4">
                            <div>
                                <img src="../../assets/photos/couple.jpg" id="recent">
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400"> Lucy Pearls
                                    <small>452-749-1449</small>
                                </h6>
                                <div class="progress1"></div>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">90</h6>
                        </div>
                        <div class="dflex mb-4">
                            <div>
                                <img src="../../assets/photos/male1.jpg" id="recent">
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400"> Wood Daniels
                                    <small>452-749-1449</small>
                                </h6>
                                <div class="progress2"></div>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">50</h6>
                        </div>
                        <div class="dflex mb-4">
                            <div>
                                <img src="../../assets/photos/lady2.jpg" id="recent">
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400"> Damien Angela
                                    <small>452-749-1449</small>
                                </h6>
                                <div class="progress3"></div>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">20</h6>
                        </div>
                        <div class="dflex mb-4">
                            <div>
                                <img src="../../assets/photos/lady1.jpg" id="recent">
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400"> Johny Beauty
                                    <small>452-749-1449</small>
                                </h6>
                                <div class="progress4"></div>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">20</h6>
                        </div>
                        <div class="dflex mb-4">
                            <div>
                                <img src="../../assets/photos/mal2.jpg" id="recent">
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400"> Den Skimmy
                                    <small>452-749-1449</small>
                                </h6>
                                <div class="progress5"></div>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">5</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div id="boxx" class="pt-2 pl-3 pr-1">
                    <h5 class=" mb-5">Last Saved Photo </h5>
                    <div class="">
                        <img src="../../assets/photos/mal2.jpg" class="w-100 h-100">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div id="boxx" class="pt-2 pl-3 pr-1">
                    <h5 class=" mb-5">Phone Activities </h5>
                    <div>
                        <div class="dflex mb-4">
                            <div id="iconx">
                                <center>
                                    <i class="fa fa-mobile fa-2x mt-2 text-white"></i>
                                </center>
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400">Calls
                                </h6>
                                <div class="progres1"></div>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">205</h6>
                        </div>
                        <div class="dflex mb-4">
                            <div id="iconx">
                                <center>
                                    <i class="fa fa-comment fa-2x mt-2 text-white"></i>
                                </center>
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400">Messages
                                </h6>
                                <div class="progres2"></div>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">120</h6>
                        </div>
                        <div class="dflex mb-4">
                            <div id="iconx">
                                <center>
                                    <i class="fa fa-image fa-2x mt-2 text-white"></i>
                                </center>
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400">photos
                                </h6>
                                <div class="progres3"></div>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">100</h6>
                        </div>
                        <div class="dflex mb-4">
                            <div id="iconx">
                                <center>
                                    <i class="fa fa-play fa-2x mt-2 text-white"></i>
                                </center>
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400"> videos
                                </h6>
                                <div class="progres4"></div>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">115</h6>
                        </div>
                        <div class="dflex mb-4">
                            <div id="iconx">
                                <center>
                                    <i class="fa fa-podcast fa-2x mt-2 text-white"></i>
                                </center>
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400">Locations
                                </h6>
                                <div class="progres5"></div>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">20</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div id="boxx" class="pt-2 pl-3 pr-1">
                    <h5 class=" mb-4">5 Most Recent Messages</h5>
                    <div>
                        <div class="dflex mb-4">
                            <div>
                                <img src="../../assets/photos/default_avatar.png" id="recent">
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400"> selena
                                    <small>452-879-1559</small>
                                </h6>
                                <small>i really had fun</small>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">11</h6>
                        </div>
                        <div class="dflex mb-4">
                            <div>
                                <img src="../../assets/photos/male1.jpg" id="recent">
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400"> Wood Daniels
                                    <small>452-749-1449</small>
                                </h6>
                                <small>how about the boys</small>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">2</h6>
                        </div>
                        <div class="dflex mb-4">
                            <div>
                                <img src="../../assets/photos//default_avatar.png" id="recent">
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400"> Damion
                                    <small>452-999-2349</small>
                                </h6>
                                <small>can you come over</small>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">4</h6>
                        </div>
                        <div class="dflex mb-4">
                            <div>
                                <img src="../../assets/photos/lady1.jpg" id="recent">
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400"> Johny Beauty
                                    <small>452-749-1449</small>
                                </h6>
                                <small>Will you be around?</small>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">2</h6>
                        </div>
                        <div class="dflex mb-4">
                            <div>
                                <img src="../../assets/photos/mal2.jpg" id="recent">
                            </div>
                            <div class="ml-3">
                                <h6 style="font-weight:400"> Den Skimmy
                                    <small>452-749-1449</small>
                                </h6>
                                <small>hello Beauty</small>
                            </div>
                            <h6 class="badge ml-5" style="background-color: #6C63FF;color: white;">5</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <center>
            <p class="mt-5"><small class="text-muted">Copyright © 2019 Clonehackers.com. All trademarks are the property of their respective owners.</small></p>
        </center>
        <div class="container-fluid fixed-bottom tbtn">
            <div class="btn-group mr-2">
                <button class="btn btn-sm pr-4 pl-5" style="background-color: #6C63FF;font-weight:bolder;color:white;border:2px solid #6C63FF;">TRY NOW</button>
                <button class="btn btn-sm pr-4 pl-4" style="font-weight:bolder;color:#6C63FF;"><a href="#top">To The Top<i class="fa fa-arrow-right ml-1"></i></a></button>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "></script>
<script src="../../assets/script.js"></script>

</html>