<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clonehackers</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/styles.css">
    <style>
        body {
            background-color: rgba(241, 241, 241, 0.89);
        }
    </style>

</head>
</head>

<body>
    <header style="margin-bottom:85px;">
        <nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top ">
            <div class="ml-5 navbarbrandcontainer">
                <h1 class="navbar-brand text-dark" style="font-weight: bolder;font-size:1.7em;"><img src="../assets/photos/undraw_drone_surveillance_kjjg.svg" style="width:70px;">Clonehackers</h1>
            </div>
            <div>
                <ul class="navbar-nav " id="btncontainer" style="margin-left:700px;">
                    <li class="nav-item">
                        <button class="btn btn-sm pr-5 pl-5" style="background-color: white;font-weight:bolder;color:#6C63FF;border:2px solid #6C63FF;"><a href="./demo/index.html">VIEW DEMO</a></button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main id="fmainbuynow">
        <div id="mainBuyNow" class="pt-3">
            <center>
                <h1 class="text-white mb-3" style="font-weight:300;"> Pricing Plans</h1>
                <p class="text-white">(60-Day Money-back Guarantee)</p>
            </center>
        </div>
    </main>
    <section class="mt-5 mb-5">
        <center>
            <div class="btn-group">
                <button class="btn btn-sm pr-5 pl-5" style="background-color: white;font-weight:bolder;color:#6C63FF;border:2px solid #6C63FF;"><a href="javascript:void(0);"><i class="fa fa-android mr-1"></i>Android</a></button>
                <button class="btn btn-sm pr-5 pl-5" style="background-color: #6C63FF;font-weight:bolder;color:white;border:2px solid #6C63FF;"><a href="javascript:void(0);" class="text-white"><i class="fa fa-apple mr-1"></i>Ios</a></button>
            </div>
        </center>
    </section>
    <section class="">
        <div class="">
            <center><small><i class="fa fa-android"></i> Android Monitoring<span class="text-muted">(No Root)</span></small></center>
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-md-4 plans">
                        <div class="card">
                            <div class="card-header p-2 text-white" style="background-color: #6C63FF;">
                                <center>
                                    <h2>Basic</h2>
                                </center>
                            </div>
                            <div class="card-body pt-5">
                                <div class="d-flex mb-3" style="color: #6C63FF;">
                                    <h2><b><sup>&#8364;</sup>89.99</b><sub><strike>&#8364;120</strike> / Month</sub></h2>
                                </div>
                                <center>
                                    <div class="bg-dark w-50  text-white">
                                        <small>For 1 Devices</small>
                                    </div>
                                </center>
                                <div class="mt-4">
                                    <form class="form-group" method="POST">
                                        <div class="ml-3 mb-5">
                                            <h6> <span class="text-muted">1-Month License</span> <b>&#8364;199.99 /</b><strike>&#8364;320</strike></h6>
                                        </div>
                                        <div class="ml-3 mb-5">
                                            <h6> <span class="text-muted">2-Month License</span> <b>&#8364;199.99 /</b><strike>&#8364;320</strike></h6>
                                        </div>
                                        <div class="ml-3 mb-5">
                                            <h6> <span class="text-muted">3-Month License</span> <b>&#8364;199.99 /</b><strike>&#8364;320</strike></h6>
                                        </div>
                                        <center>
                                            <button type="submit" class="btn" style="background-color: #6C63FF;color: white;">
                                       <b>Buy With Credit Card</b>
                                        </button>
                                        </center>
                                    </form>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p>Basic Android monitoring.(No Root)</p>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Calls Logs</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Messages</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Location(Real-Time)</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>App List </small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Browser History</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>SIM Card Location</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>SIM Card Alert</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Photos</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Messenger</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Messenger Lite</small></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 plans">
                        <div class="card">
                            <div class="card-header text-white p-2 bg-danger">
                                <center>
                                    <h2>Premium</h2>
                                </center>
                            </div>
                            <div class="card-body pt-5">
                                <div class="d-flex mb-3 text-danger">
                                    <h2><b><sup>&#8364;</sup>159.99</b><sub><strike>&#8364;200</strike> / Month</sub></h2>
                                </div>
                                <center>
                                    <div class="bg-dark w-50  text-white">
                                        <small>For 1 Devices</small>
                                    </div>
                                </center>
                                <div class="mt-4">
                                    <form class="form-group" method="POST">
                                        <div class="ml-3 mb-5">
                                            <h6> <span class="text-muted">1-Month License</span> <b>&#8364;199.99 /</b><strike>&#8364;320</strike></h6>
                                        </div>
                                        <div class="ml-3 mb-5">
                                            <h6> <span class="text-muted">2-Month License</span> <b>&#8364;199.99 /</b><strike>&#8364;320</strike></h6>
                                        </div>
                                        <div class="ml-3 mb-5">
                                            <h6> <span class="text-muted">3-Month License</span> <b>&#8364;199.99 /</b><strike>&#8364;320</strike></h6>
                                        </div>
                                        <center>
                                            <button type="submit" class="btn btn-danger">
                                       <b>Buy With Credit Card</b>
                                        </button>
                                        </center>
                                    </form>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p>Premium Android Monitoring.(No Root)</p>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Calls Logs</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Messages</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Location(Real-Time)</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>App List </small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Browser History</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>SIM Card Location</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>SIM Card Alert</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Photos</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Messenger</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Messenger Lite</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i> WhatsApp </small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Snapchat</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Instagram</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Tinder</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Kik</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Badoo</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>LINE</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Text Messages</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Calendar</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Activities</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Bookmarks</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Videos</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Preview</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Keylogger</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Facebook</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Facebook Lite</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Tumblr</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Skype</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Telegram</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Wechat</small></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 plans">
                        <div class="card">
                            <div class="card-header p-2 text-white" style="background-color: #6C63FF;">
                                <center>
                                    <h2>Family</h2>
                                </center>
                            </div>
                            <div class="card-body pt-5">
                                <div class="d-flex mb-3" style="color: #6C63FF;">
                                    <h2><b><sup>&#8364;</sup>199.99</b><sub><strike>&#8364;320</strike> / Month</sub></h2>
                                </div>
                                <center>
                                    <div class="bg-dark w-50  text-white">
                                        <small>For 3 Devices</small>
                                    </div>
                                </center>
                                <div class="mt-4">
                                    <form class="form-group" method="POST">
                                        <div class="ml-3 mb-5">
                                            <h6> <span class="text-muted">1-Month License</span> <b>&#8364;199.99 /</b><strike>&#8364;320</strike></h6>
                                        </div>
                                        <div class="ml-3 mb-5">
                                            <h6> <span class="text-muted">2-Month License</span> <b>&#8364;199.99 /</b><strike>&#8364;320</strike></h6>
                                        </div>
                                        <div class="ml-3 mb-5">
                                            <h6> <span class="text-muted">3-Month License</span> <b>&#8364;199.99 /</b><strike>&#8364;320</strike></h6>
                                        </div>
                                        <center>
                                            <button type="submit" class="btn" style="background-color: #6C63FF;color: white;">
                                       <b>Buy With Credit Card</b>
                                        </button>
                                        </center>
                                    </form>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p>Premium Android monitoring solution for 3 devices.(No Root)</p>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Calls Logs</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Messages</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Location(Real-Time)</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>App List </small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Browser History</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>SIM Card Location</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>SIM Card Alert</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Photos</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Messenger</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Messenger Lite</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i> WhatsApp </small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Snapchat</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Instagram</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Tinder</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Kik</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Badoo</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>LINE</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Text Messages</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Calendar</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Activities</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Bookmarks</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Videos</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Preview</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Keylogger</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Facebook</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Facebook Lite</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Tumblr</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Skype</small></td>
                                        </tr>
                                        <tr>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Telegram</small></td>
                                            <td></td>
                                            <td><small><i class="fa fa-check mr-1" style="color: #6C63FF;"></i>Wechat</small></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <center>
            <p class="mt-5"><small class="text-muted">Copyright © 2020 Clonehackers.com. All trademarks are the property of their respective owners.</small></p>
        </center>
        <div class="container-fluid fixed-bottom tbtn">
            <div class="btn-group mr-2">
                <button class="btn btn-sm pr-4 pl-5" style="background-color: #6C63FF;font-weight:bolder;color:white;border:2px solid #6C63FF;">TRY NOW</button>
                <button class="btn btn-sm pr-4 pl-4" style="font-weight:bolder;color:#6C63FF;"><a href="#top">To The Top<i class="fa fa-arrow-right ml-1"></i></a></button>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "></script>
<script src="../assets/script.js"></script>

</html>