<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clonehackers</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles.css">
</head>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top ">
            <div class="offset-2 navbarbrandcontainer">
                <h1 class="navbar-brand text-dark" style="font-weight: bolder;font-size:1.7em;"><img src="./assets/photos/undraw_drone_surveillance_kjjg.svg" style="width:70px;">Clonehackers</h1>
            </div>
            <div>
                <ul class="navbar-nav " id="btncontainer" style="margin-left:350px;">
                    <li class="nav-item mr-2 ">
                        <button class="btn btn-sm pr-5 pl-5" style="background-color: white;font-weight:bolder;color:#6C63FF;border:2px solid #6C63FF;">VIEW DEMO</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-sm pr-5 pl-5" style="background-color: #6C63FF;font-weight:bolder;color:white;border:2px solid #6C63FF;">TRY NOW</button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <footer>
        <div class="container">
            <p class="mb-4"><small class="text-muted">Features, specifications, and appearance subject to change without notice.</small></p>
            <p><small class="text-muted">
                   <a href="">About Clonehackers</a> |  <a href="">Term's and Condition</a> | <a href="">Privacy</a> | <a href="">Cookies Policy</a> |
            </small>
            </p>
            <p class="mb-4"><small class="text-muted">Copyright © 2019 Clonehackers.com. All trademarks are the property of their respective owners.</small></p>

        </div>
        <div class="container-fluid fixed-bottom tbtn">
            <div class="btn-group mr-2">
                <button class="btn btn-sm pr-4 pl-5" style="background-color: #6C63FF;font-weight:bolder;color:white;border:2px solid #6C63FF;">TRY NOW</button>
                <button class="btn btn-sm pr-4 pl-4" style="font-weight:bolder;color:#6C63FF;"><a href="./views/">VIEW DEMO<i class="fa fa-arrow-right ml-1"></i></a></button>
                <button class="btn btn-sm btn-dark pr-2 pl-2">To Top</button>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "></script>

</html>